
.trafficTop {
    background-color: black;
    border: 3px solid black;
    width: 15px;
    height: 150px;
}

.containerMain {
    background-color: black;
    border: 3px solid black;
    width: 200px;
    height: 500px;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
}

.greenCircle {
    background-color: green;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.yellowCircle {
    background-color: yellow;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.redCircle {
    background-color: red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.brightLight {
    box-shadow: 1px 1px 61px 5px rgba(255,255,255,0.75);
-webkit-box-shadow: 1px 1px 61px 5px rgba(255,255,255,0.75);
-moz-box-shadow: 1px 1px 61px 5px rgba(255,255,255,0.75);
}